/* style.css */

body {
    margin: 0;
    height: 100vh; /* Set the body height to full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .info-container {
    position: absolute;
    top: 1%;
    left: 40%;
    
    background-color: rgba(53, 48, 45, 0.5);
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    transition: height 0.8s ease;
    height: 50px; /* Initial height */
    width: 250px; /* Adjust width as needed */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .info-container:hover {
    height: auto; /* Expanded height on hover */
    overflow: auto; /* Enable scrolling if content exceeds height */
    background-color: rgba(53, 48, 45, 0.98);
  }
  
  .info-content {
    font-family: 'Nunito', sans-serif; /* Change the font family */
    color: rgb(233, 29, 189) /* Set font color to pink */
  }
  
  /* Hide the scrollbar */
  .info-container::-webkit-scrollbar {
    width: 0; /* Hide horizontal scrollbar */
    height: 0; /* Hide vertical scrollbar */
  }

  .expanded-content {
    display: none; /* Initially hide expanded content */
  }
  
  .info-container:hover .expanded-content {
    display: block; /* Show expanded content on hover */
  }
  